<div [@routerTransition]>

    <div class="block-header">
        <h2>Dragoon Home</h2>
    </div>

    <!-- Widgets -->
    <div class="row clearfix">

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 buttonContainer">
            <button mat-raised-button class="menuButton">Alert Mode</button>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 buttonContainer">
            <button mat-raised-button class="menuButton">Test Mode</button>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 buttonContainer">
            <button mat-raised-button class="menuButton">Protected Zone Map</button>
        </div>
       

    </div>
    <!-- #END# Widgets -->

</div>